<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/chenxi.css') }}">
    <title>imagician</title>
</head>

<body>

    <div class="title">
        <a class="logo" href="/">
            <img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" style="width: 20%;">
        </a>
        <span class="links">
            <a href="/explore/">Explore</a> | <a href="/users/{{logname}}/">{{logname}}</a>
        </span>
        <hr>
    </div>

    <div class="account">
        <p>{{ logname }}</p>
        <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account" />
            <input type="hidden" name="operation" value="delete" />
        </form>

    </div>
    <br>
    <br>
    <br>



</body>

</html>