<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/chenxi.css') }}">
    <title>insta485</title>
</head>

<body>

    <div class="title">
        <a class="logo" href="/">
            <img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" style="width: 20%;">
        </a>
        <span class="links">
            <a href="/explore/">Explore</a> | <a href="/users/{{logname}}/">{{logname}}</a>
        </span>

        <hr>
    </div>

    <div class="account">
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <p>Old password <input type="password" name="password" required /></p>
            <p>New password <input type="password" name="new_password1" required /></p>
            <p>New password, again <input type="password" name="new_password2" required /></p>
            <input type="submit" name="update_password" value="submit" />
            <input type="hidden" name="operation" value="update_password" />
        </form>


        <br>
        <span class="links">
            <a href="/accounts/edit/">Back to edit account</a>
        </span>
    </div>
    <br>
    <br>
    <br>



</body>

</html>