<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/chenxi.css') }}">
        <title>insta485</title>
    </head>

    <body>
        
        <div class="title">
            <a class="logo" href="/">
                <img src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" style="width: 20%;">
            </a>
            <span class="links">
                <a href="/explore/">Explore</a> | <a href="/users/{{logname}}/">{{logname}}</a>
            </span>
            
            <hr>
        </div>
        <br>

        <div class="posts">
            <div class="post">
                <a href="/users/{{owner}}/">
                    <img src="{{owner_img_url}}" class="user_image" alt="user_image">
                    <span class="user_name">{{owner}}</span>
                </a>
                <a href="/posts/{{postid}}/">
                    <span class="time_since">{{timestamp}}</span>
                </a>
                <img src="{{img_url}}" class="post_image" alt="post_image">

                <br>
                <br>
                <br>
                {% if user_liked %}
                    <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="unlike"/>
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="submit" name="unlike" value="unlike"/>
                    </form>
                {% else %}
                    <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="like"/>
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="submit" name="like" value="like"/>
                    </form>
                {% endif %}
                {% if logname ==  owner %}
                    <form action="/posts/?target=/users/{{logname}}/" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="delete"/>
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="submit" name="delete" value="delete this post"/>
                    </form>
                {% endif %}
                <div class="comments">
                    <br>
                    {% if likes == 1 %}
                        <p>{{likes}} like</p>
                    {% else %}
                        <p>{{likes}} likes</p>
                    {% endif %}
                    {% for comment in comments %}
                        <p><a href="/users/{{comment.owner}}/">{{comment.owner}}</a> {{comment.text}}</p>
                        {% if comment.user_owned  %}
                            <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="operation" value="delete"/>
                                <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
                                <input type="submit" name="uncomment" value="delete"/>
                            </form>
                        {% endif %}
                    {% endfor %}
                    <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="create"/>
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="text" name="text" required/>
                        <input type="submit" name="comment" value="comment"/>
                    </form>
                </div>
            </div>

            <br>
            



        </div>
        <br>
        <br>
        <br>

        

    </body>
</html>

<!-- This is a comment -->
